Python-telegram-bot==20.8
aiohttp==3.9.5
langdetect==1.0.9
phonenumbers==8.13.35
python-dotenv==1.0.1
huggingface-hub==0.23.0
langchain==0.2.11
faiss-cpu==1.8.0
pypdf==4.2.0
openai==1.99.9
sentence-transformers==2.7.0
